.container {
    padding: 20px 14px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 80%;
    border: none;
    margin-top: 10px;
    
    text-align: center;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #DADADA;
    justify-content: space-between;
    height: fit-content;
    text-align: center;
    top:120px;
}

.title {
    display: flex;
    flex-direction: row;
}

.icon {
    flex: 1;
    margin-right: 6px;
    height: 40px;
}

.reward {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.bar {
    color: #D89B60;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}

.MuiLinearProgress-root {
    height: 10px;
  }

