.container {
    height: 100%;
    width: 100%;
    display: flex;
    
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.profileContainer {
    padding-top: 10px;
    width: 100%;
    align-items: center;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    top: 10%;
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 42px 42px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.box {
    height: 100%;/* set height to 100% to fill the parent container */
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 42px 42px 0px 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

@media (min-width: 480px) {
    .box {
        width: 70%
    }
}

.feedback {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.linkBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.desc {
    height: 15%;
    width: 90%;
    padding-top: 20px;

}

.descRedemption {
    height: 5%;
    width: 90%;
    padding-top: 10px;

}
.descWord {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    

}

.time {
    width: 90%;
    height: 15%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.redemption {
    height: max-content;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.slide {
    height: 0;
    width: 90%;
}

.descDetail {
    height: 15%;
    width: 90%;
    padding-left: 40px;
    padding-top: 15px;
}

.cafeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
  }

  .cafeItem {
    flex: 1;
  }

.feedbackText {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    height: 45px;
}

.contactText {
    display: flex;
    flex-direction: column;
    height: 45px;
}

.hit {
    font-weight: 500;
    font-size: 14px;
    color: black;
}

.link {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color: #D89B60;
}

.items {
    margin-top: 10px;
    padding: 10px 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

