.container {
  width: 80%;
  max-height: 84px;
  border-radius: 16px;
  padding: 14px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 4px 40px rgba(200, 197, 213, 0.32);
}

.image {
  display: flex;
  border-radius: 28px;
  flex: 0.5;
  height: 56px;
  width: 56px;
}

.arrow {
  display: flex;
}

.username {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  margin-top: 8px;
}

.name {
  display: flex;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.desc {
  display: flex;
  text-align: left;
  padding-top: 3px;
  font-weight: 400;
  font-size: 12px;
  color: #565656;
}
