.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 80px;;
}

@media (min-width: 1024px) {
    .container {
        width: 50% !important;
    }

    .text {
        font-size: 80px !important;
    }
    
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    .text {
        font-size: 50px !important;
    }
    
}

.textContainer {
    margin-top: 40px;
}

.text {
    height: fit-content;
    font-weight: bold;
    font-size: 30px;
}